/*comment */
{
  box-sizing:border-box; 
}
.topnav{
background-color:color name;
overflow:hidden;
}
  .topnav a{
    property:value;
    property:value;
  }
.topnav a:hover{
  property:value;
  propery:value;
}