
#poop{
  text-align:center;
    font-size: 70px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: #007bff;
  
}
p{
  position:relative;
  top:200px;
  float:left;
}



h1{
  text-align:center;
  font-size:70px;
}
.box{
  position:;
}
.big{
  boder:1px solid;
}